@import "../theme/_variables.scss";
@import "../theme/_mixins.scss";
@import "../common/_base.scss";
@import "../layouts/_header.scss";
@import "../layouts/_footer.scss";
.banner {
  margin-top: 96px;
  background: url(../../img/banner4.jpg) no-repeat center;
  position: relative;
  text-align: center;
  padding-bottom: 48px;
  z-index: 0;
  .container {
    .banner__content {
      padding: 10px 0;
      .title {
        margin-top: 50px;
        h2 {
          font-size: 50px;
          font-weight: 600;
          color: #fff;
        }
      }
      .text {
        display: flex;
        text-align: center;
        justify-content: center;
        list-style: none;
        li {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 400;
          text-transform: capitalize;
          color: #fff;
          a {
            text-decoration: none;
            color: #189a46;
            font-size: 1.2rem;
          }
          span {
            font-size: 12px;
            vertical-align: 2px;
            color: #fff;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      min-height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #0c0c0c;
      opacity: 0.6;
    }
  }
}

.contact {
  background: var(--bg-color);
  .container {
    padding: 5rem;
    h4 {
      color: var(--secondary-color);
      font-weight: 500;
      margin-bottom: 10px;
      letter-spacing: 2px;
      text-align: center;
    }
    p {
      font-size: 2.5rem;
      margin-bottom: 15px;
      color: var(--heading-color);
      font-weight: 600;
      text-align: center;
    }
    .main {
      margin-top: 4rem;
      display: flex;
      flex-wrap: nowrap;
      .form {
        width: 65%;
        .flex {
          display: flex;
          input:first-child {
            margin-right: 1rem;
          }
        }
        input {
          width: 100%;
          padding: 18px 16px;
          margin-bottom: 1rem;
          background: var(--bg-light);
          border: var(--bg-light);
          border-radius: 6px;
        }
        input:focus {
          outline: 1px solid var(--primary-color);
        }
        textarea {
          padding: 18px 16px;
          width: 100%;
          min-height: 140px;
          background: var(--bg-light);
          border: var(--bg-light);
          border-radius: 6px;
          resize: none;
          margin-bottom: 1rem;
        }
        textarea:focus {
          outline: 1px solid var(--primary-color);
        }
        button {
          color: #fff;
          background-color: #189a46;
          border-radius: 8px;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          border: none;
          margin-left: 1rem;
          padding: 1rem 2rem;
          font-size: 17px;
          cursor: pointer;
          float: right;
        }
        button:hover {
          background-color: #066126;
          //   border: $border-hover;
        }
      }
      .info {
        width: 35%;
        padding-left: 1.5rem;
        .item {
          display: flex;
          align-items: baseline;
          margin-bottom: 1.5rem;
          i {
            color: var(--primary-color);
            padding: 0px 1.5rem;
          }
          .text {
            h5 {
              font-size: 20px;
              font-weight: 600;
              line-height: 26px;
              margin-bottom: 10px;
              color: var(--heading-color);
            }
            span {
              color: var(--font-color);
              line-height: 23px;
            }
            p {
              text-align: left;
              font-size: 15px;
              color: var(--font-color);
              font-weight: 400;
              margin-top: 0px;
              margin-bottom: 0;
              cursor: pointer;
              a {
                text-decoration: none;
                color: var(--font-color);
              }
            }
            p:hover a {
              color: var(--primary-color);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.map {
  iframe {
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 400px;
  }
}

@media screen and (min-width: 1201px) {
  .contact {
    .container {
      padding: 4rem 15px;
      p {
        font-size: 2.2rem;
      }
      .main {
        flex-wrap: wrap;
        .form {
          width: 65%;
        }
        .info {
          padding-left: 1.5rem;
          width: 35%;
          .item {
            i {
              padding: 0px 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .contact {
    .container {
      padding: 3rem 15px;
      p {
        font-size: 2.2rem;
      }
      .main {
        flex-wrap: wrap;
        .form {
          width: 65%;
        }
        .info {
          padding-left: 1.5rem;
          width: 35%;
          .item {
            i {
              padding: 0px 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .contact {
    .container {
      padding: 3rem 15px;
      p {
        font-size: 2rem;
      }
      .main {
        flex-wrap: wrap;
        .form {
          width: 100%;
        }
        .info {
          margin-top: 2rem;
          padding-left: 0;
          width: 100%;
          .item {
            i {
              padding: 0 1.5rem 0 0;
            }
          }
        }
      }
    }
  }
}
