@import "../theme/_variables.scss";
@import "../theme/_mixins.scss";
@import "../common/_base.scss";
@import "../layouts/_header.scss";
@import "../layouts/_footer.scss";

.banner {
  margin-top: 96px;
  background: url(../../img/banner4.jpg) no-repeat center;
  position: relative;
  text-align: center;
  padding-bottom: 48px;
  z-index: 0;
  .container {
    .banner__content {
      padding: 10px 0;
      .title {
        margin-top: 50px;
        h2 {
          font-size: 50px;
          font-weight: 600;
          color: #fff;
        }
      }
      .text {
        display: flex;
        text-align: center;
        justify-content: center;
        list-style: none;
        li {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 400;
          text-transform: capitalize;
          color: #fff;
          a {
            text-decoration: none;
            color: #189a46;
            font-size: 1.2rem;
          }
          span {
            font-size: 12px;
            vertical-align: 2px;
            color: #fff;
          }
        }
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      min-height: 100%;
      left: 0;
      right: 0;
      z-index: -1;
      background-color: #0c0c0c;
      opacity: 0.6;
    }
  }
}

.main {
  padding-top: 16px;
  padding-bottom: 176px;
  .content {
    padding: 80px 0;
    align-items: center;
    border-bottom: 1px solid var(--border-light);
    justify-content: space-between;
    img {
      width: 100%;
      border-radius: 10px;
    }
    h6 {
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 2em;
      letter-spacing: 1px;
      color: var(--secondary-color);
    }
    h3 {
      font-size: 40px;
      font-weight: 600;
      line-height: 48px;
      text-transform: capitalize;
      color: var(--heading-color);
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      line-height: 28px;
      color: var(--font-color);
    }
    a.read {
      font-size: 17px;
      padding: 0;
      border-bottom: 2px solid var(--primary-color);
      color: var(--heading-color);
      transition: 0.3s ease-in-out;
      font-weight: 600;
      border-radius: 0;
      margin-top: 20px;
      display: inline-block;
      text-transform: capitalize;
      text-decoration: none;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}
