$c1-100: #189A46;
$c1-200:#f53626;



$cBlack: #000;
$cWhite: #fff;

// $cSuccess: #00ff00;
// $cDanger: #ff0000;
// $cInfo: #1a8fba;

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-md: 1.25rem;
$text-lg: 1.5rem;
$text-xl: 2rem;
$text-2xl: 3rem;
$text-3xl: 4rem;
$text-4xl: 5rem;

$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

//map
$breakpoint: (
  "xs": 576px,
  "sm": 768px,
  "md": 992px,
  "lg": 1200px,
);

@function getBreakPoint($key) {
  @if (map-has-key($map: $breakpoint, $key: $key)) {
    @return map-get($breakpoint, $key); 
  }
  @error "Invalid key!!";
}
