@import "../theme/_variables.scss";
@import "../common/_base.scss";

.footer {
  background: #111;
  padding: 60px 0;
  .footer__item {
    h6 {
      color: white;
    }
    ul {
      list-style: none;
      margin-top: 30px;
      li {
        margin-bottom: 5px;
        p {
          margin-bottom: 0;
          color: var(--font-color);
          font-size: 16px;
        }
        a,
        strong {
          color: var(--font-color);
          font-size: 16px;
        }
        &:hover {
          a {
            color: white;
          }
        }
      }
    }
    .social-icons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
      li {
        margin-right: 20px;
        a {
          i {
            font-size: 16px;
          }
        }
        &:hover {
          a {
            i {
              color: white;
            }
          }
        }
      }
    }
  }
  .footer__bottom {
    text-align: center;
    font-size: 16px;
    a {
      text-align: center;
      font-size: 16px;
      color: #f53626;
    }
  }
  hr {
    background: rgba(103, 99, 99, 0.14);
  }
}
