@import "../theme/_variables.scss";
* {
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 19px;
  color: var(--font-color);
}

.preload {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-default {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  color: white;
  display: inline-block;
  background-color: var(--primary-color);
}

.btn-default.btn-bg-white {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid white;
}

.btn-default.bg-transparent {
  background-color: transparent;
  color: white;
}

.btn-default:hover {
  background-color: #066126;
  color: white;
  text-decoration: none;
}

.btn-default.btn-bg-white:hover {
  background: white !important;
  color: var(--primary-color);
}

.section__heading {
  text-align: center;
  max-width: 700px;
}

.section__heading h4 {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 400;
}

.section__heading h1 {
  color: var(--heading-color);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn-link {
  font-size: 17px;
  color: var(--heading-color);
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: 0.3s ease-in;
}

.btn-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.btn-link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
}

.transform-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#popup-video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#popup-video .small-dialog {
  width: 100%;
  max-width: 750px;
  margin: 40px auto;
}

#popup-video .small-dialog iframe {
  width: 100%;
  height: 400px;
  display: block;
}

#popup-video .mfp-close {
  color: #fff;
}

.back-to-top {
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.back-to-top i {
  color: white;
  line-height: 50px;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
